/* styles.css */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f6f1e9; /* Light Cream */
}

header, footer {
    background-color: #3d314a; /* Navy Blue */
    color: #e0b1cb; /* Light Pink */
    text-align: center;
    padding: 1em;
}

main {
    padding: 1em;
}

.video-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}

.video-wrapper {
    width: calc(33.3333% - 1em);
    margin-bottom: 1em;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.video-wrapper:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.video-wrapper video {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.video-details {
    display: none;
    background-color: #3d314a; /* Navy Blue */
    color: #e0b1cb; /* Light Pink */
    text-align: center;
    padding: 1em;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Add your media queries for responsive design */
